.TabInfo{
  display: flex;
  align-items: center;
}
.M-info-txt{
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #232731;
  margin-bottom: 16px;
}
.M-info-courses{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.M-image{
  height: 96px;
  padding: 8px 9px;
  margin-left: 16px;
}
.M-info-detail-name{
  display: flex;
  align-items: center;
  -webkit-align-items: unset;
  height: 40px;
}
.M-info-detail-name-cate{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #232731;
  display: flex;
  align-items: center;
  width: 15%;
}
.M-category{
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.M-info-detail{

}
.M-info-detail-name-txt{
  margin-left: 6px;
  background: #fff;
  display: flex;
  align-items: center;
  width: 85%;
  padding-left: 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color:#b0b5c1;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
.select-category{
  padding-left: 45px;

}
.select-category .ant-select-selection{
   height: 40px;
   align-items: center;
   width: 180px;
   
 }
.select-category .ant-select-selection__placeholder{
  font-size: 15px;
  letter-spacing: 0.14px;
  color: #232731;
  font-family: 'Open Sans', sans-serif;
}
.select-category .ant-select{
  width: 100% !important;
}
.select-category .ant-select-selection__rendered{
  line-height: 40px
}
.M-category-1{
  display: flex;
  align-items: center;
}
.M-category-2{
  display: flex;
  align-items: center;
}
.M-name-cate{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #232731;
  display: flex;
  align-items: center;
}
.common-div{
  margin-top: 16px;
  padding: 16px;
  text-align: left;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
.common-div-txt{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #232731;
  margin-bottom: 16px;
}
.common-div-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-div-detail-txt{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background: #f1f3f5;
  letter-spacing: 0.14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  width: 95%;
}
.div-description{
  margin-bottom: 16px;
}
.common-div-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background: #f1f3f5;
  letter-spacing: 0.14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  height: 100px;
}
.common-div-close-btn{
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.common-div-end{
  height: 24px;
  margin-top: 16px;
}
.icon-close{
  width: 24px;
  height: 100%;
  background-color: #646d84;
  -webkit-mask-size: 100% !important;
  float: left;
  border-radius: 50%;
}
.ant-tabs-nav-scroll{
  float: left;
}
.TabInfo{
  margin-top: -5px;
}
.c_circle{
  width: 36px;
  display: flex;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: solid 1px #fff;
  margin-right: 20px;
  display: none;
}

#Top-Tabs-1 {
  background: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  z-index: 3;
  position: relative;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Top-Tabs-1:before {
  width: 0;
  content: "";
  height: 0;
  right: -15px;
  border-style: solid;
  border-width: 24px 0px 24px 15px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  z-index: 1;
}
#Top-Tabs-1:after {
  width: 0;
  content: "";
  height: 0;
  right: -16px;
  border-style: solid;
  border-width: 24px 0px 24px 15px;
  border-color: transparent transparent transparent #cfd3db;
  position: absolute;
}
.active{
  background: #5c9cfe !important;
  color: #fff;
}
.active::before{
  border-color: transparent transparent transparent #5c9cfe !important;
}
.active .c_circle{
  display: flex !important;
}
.active .c_cicrle_parent{
  display: none !important;
}
.Top-Tabs{
  height: 48px;
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 33px;
}
#Top-Tabs-2{
  height: 48px;
  line-height: 48px;
  z-index: 2;
  width: 33.333333%;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Top-Tabs-2:before {
  width: 0;
  content: "";
  height: 0;
  right: -15px;
  border-style: solid;
  border-width: 24px 0px 24px 15px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  z-index: 1;
}
#Top-Tabs-2:after {
  width: 0;
  content: "";
  height: 0;
  right: -16px;
  border-style: solid;
  border-width: 24px 0px 24px 15px;
  border-color: transparent transparent transparent #cfd3db;
  position: absolute;
}
#Top-Tabs-3{
  height: 48px;
  line-height: 48px;
  width: 33.333333%;
  z-index: 1;
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c_cicrle_parent {
  border-radius: 50%;
  height: 30px; 
  width: 30px;
  background: #cfd3db;
  line-height: 30px;
  position: relative;
  margin-right: 20px;
  color: #fff
}
.c_cicrle_parent::before {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background: transparent;
  line-height: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  content:'';
  border: 1px solid #cfd3db
}
.button-div{
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.button-div .btn-common{
  width: 160px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.1px;
  color:#232731;
  margin-bottom: 115px;
}
.button-div .cancel-btn{
  background: #f1f3f5;
}
.button-div .next-btn{
  margin-left: 15px;
  background: #e62020;
}
.di-active{
  display: none;
}