body{
    font-family: Montserrat;
}
.wrapperWarehouse{
    padding-left: 32px;
}
.ant-input{
    padding-left: 35px;
}
.ant-input-suffix{
    left: 12px;
    font-size: 17px;
    color: #646d84 !important;
}
.ant-btn{
    height: 40px;
    border-radius: 4px;
    background-color: #4a90e2;
}
.listWarehouse{
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    width: 100%;
    padding: 0 16px;
}
/* .ant-select-arrow{
  display: none;
} */
.listMenuItem:hover{
  background-color: #ecedf1;
}
.selectDoc > .icon-menu{
    position: absolute;
    float: left;
    width: 24px;
    height: 24px;
    background-color: #646d84;
    -webkit-mask:url(https://dvkhfbm6djrbs.cloudfront.net/5acc7360f161b700446f8349/5d4d2ac33bcd2e000ddaa46a/rectangle@2x.png) no-repeat 50% 50%;
    -webkit-mask-size: 100% !important;
    
  }
.selectDoc > .icon-dropdown{
  float: left;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #646d84;
  -webkit-mask:url(https://dvkhfbm6djrbs.cloudfront.net/5acc7360f161b700446f8349/5d4d2ac33bcd2e000ddaa46a/arrow-downward-24-px@2x.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
  right: 16px;
  }
.selectVal > .ant-select-selection{
  border: none;
}
.selectVal > .ant-select-selection:focus{
  -webkit-box-shadow: none;
}
.imgNoDocument{
  width: 72px;
  height: 72px;
  background-color: #b0b5c1;
  -webkit-mask:url(/images/icon/upload3x.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
}
.wrapperModalCreateFolder{
  width: 500px !important;
  border-radius: 8px;
  background-color: #fff;
  padding: 0;
  top: 50%;
  margin-top: -135px;
}
.wrapperModalCreateFolder .ant-modal-footer, .wrapperModalCreateFolder .ant-modal-close{
  display: none;
}
.wrapperModalCreateFolder .ant-modal-content{
  box-shadow: none;
}
.wrapperWarehouse .list-folder {
  height: auto;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: #ffffff;

} 

.wrapperWarehouse .list-folder .course-element {
  height: 56px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: #f9fafc;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;

}

.wrapperWarehouse .list-folder .course-element:hover {
  background-color: #ecedf1;
}


.wrapperWarehouse .list-folder .course-element .folder-name {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: #4a4a4a;
  float: left;
  margin: 0;
}

.wrapperWarehouse .folder-data {
  height: auto;
  background-color: #ffffff;
  padding: 32px 0;
}
.wrapperWarehouse .folder-data .tab-data .ant-tabs-nav-animated {
  float: left;
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-tab {
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: center;
  color: #b0b5c1;
  padding-bottom: 3px;
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-tab-active {
  color: #4a4a4a;
  
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-ink-bar {
  background-color: red ;
}

.uploadSuccess {
  -webkit-mask:url(/images/icon/correct.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
  background-color: #00c48c !important;
}

.uploadFail {
  -webkit-mask:url(/images/icon/refresh.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
  background-color: #646d84 !important;
}

.uploading{
  -webkit-mask:url(/images/icon/closeimg.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
  background-color: #646d84 !important;
}

.wrapperWarehouse .folder-data .data-element {
  height: 188px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: var(--white);
}

.wrapperWarehouse .folder-data .data-element .thumbnail {
  height: 128px;
}
.wrapperProgress{
  width: 416px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
}
.wrapperProgress > .topProgress{
  width: 100%;
  height: 48px;
  opacity: 0.75;
  border-top-left-radius: 8px;
  background-color: #202020;
  padding: 12px 16px;
}
.topProgress > .txtProgress{
  width: calc(100% - 56px);
  float: left;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.topProgress > .icon{
  width: 56px;
  float: left;
}
.icon > .btnShowHideProgress{
  width: 24px;
  height: 24px;
  cursor: pointer;
  float: left;
  background-color: #fff;
  -webkit-mask:url(/images/icon/arrowback.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
}
.icon > .arrow-down {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}
.icon > .arrow-up{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}
.icon > .btnCloseProgress{
  width: 24px;
  height: 24px;
  cursor: pointer;
  float: right;
  background-color: #fff;
  -webkit-mask:url(/images/icon/closeimg.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
}
.wrapperProgress > .progressFile {
  padding: 16px;
  width: 100%;
  overflow: scroll;
  overflow-x: unset;
  max-height: 200px;
}
.wrapperProgress > .hideProgress{
  display: none;
}
.wrapperProgress > .showProgress{
  display: block;
}
.progressFile > .infoProgress{
  width: 100%;
  height: 40px;
  margin-bottom: 4px;
}
.infoProgress > .iconFileType,.infoProgress > .iconAction{
  width: 24px;
  height: 24px;
  background-color: #646d84;
  float: left;
  margin-top: 8px;
  border-radius: 50%;
}
.infoProgress > .infoFile {
  width: calc(100% - 48px);
  float: left;
  padding: 8px 16px;
}
.infoFile > .nameFile{
  height: 15px;
  text-align: left;
  margin: 0;
  opacity: 0.9;
  width: 50%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #4a4a4a;
}
.infoFile > .changeName {
  display: inline-block;
  float: left;
}
.infoFile > .noUpload{
  opacity: 0.9;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #4a4a4a;
}
.infoFile > .showText{
  display: block;
}
.infoFile > .hideText{
  display: none;
}
.infoFile > .progress{
  width: 100%;
  height: 5px;
  background-color: #d8d8d8;
  position: relative;
  border-radius: 2.5px;
  margin-top: 5px;
}
.progress > .progressActive {
  position: absolute;
  height: 100%;
  border-radius: 2.5px;
  background-color: #00c48c;
}
.progress > .progressFail{
  position: absolute;
  height: 100%;
  border-radius: 2.5px;
  background-color: #e62020;
}