body{
    font-family: Montserrat;
}
.wrapperWarehouse{
    padding-left: 32px;
}
.ant-input{
    padding-left: 35px;
}
.ant-input-suffix{
    left: 12px;
    font-size: 17px;
    color: #646d84 !important;
}
.ant-btn{
    height: 40px;
    border-radius: 4px;
    background-color: #4a90e2;
}
.listWarehouse{
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    width: 100%;
    padding: 0 16px;
}
.ant-select-arrow{
  display: none;
}
.selectDoc > .icon-menu{
    position: absolute;
    float: left;
    width: 24px;
    height: 24px;
    background-color: #646d84;
    -webkit-mask:url(https://dvkhfbm6djrbs.cloudfront.net/5acc7360f161b700446f8349/5d4d2ac33bcd2e000ddaa46a/rectangle@2x.png) no-repeat 50% 50%;
    -webkit-mask-size: 100% !important;
    
  }
.selectDoc > .icon-dropdown{
  float: left;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #646d84;
  -webkit-mask:url(https://dvkhfbm6djrbs.cloudfront.net/5acc7360f161b700446f8349/5d4d2ac33bcd2e000ddaa46a/arrow-downward-24-px@2x.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
  right: 16px;
  }
.selectVal > .ant-select-selection{
  border: none;
}
.selectVal > .ant-select-selection:focus{
  -webkit-box-shadow: none;
}
.imgNoDocument{
  width: 72px;
  height: 72px;
  background-color: #b0b5c1;
  -webkit-mask:url(/images/icon/upload3x.png) no-repeat 50% 50%;
  -webkit-mask-size: 100% !important;
}
.wrapperWarehouse .list-folder {
  height: auto;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: #ffffff;

} 

.wrapperWarehouse .list-folder .course-element {
  height: 56px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: #f9fafc;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;

}

.wrapperWarehouse .list-folder .course-element:hover {
  background-color: #ecedf1;
}


.wrapperWarehouse .list-folder .course-element .folder-name {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: #4a4a4a;
  float: left;
  margin: 0;
}

.wrapperWarehouse .folder-data {
  height: auto;
  background-color: #ffffff;
  padding: 32px 0;
}
.wrapperWarehouse .folder-data .tab-data .ant-tabs-nav-animated {
  float: left;
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-tab {
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: center;
  color: #b0b5c1;
  padding-bottom: 3px;
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-tab-active {
  color: #4a4a4a;
  
}

.wrapperWarehouse .folder-data .tab-data .ant-tabs-ink-bar {
  background-color: red ;
}

.wrapperWarehouse .folder-data .data-element {
  height: 188px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: var(--white);
}

.wrapperWarehouse .folder-data .data-element .thumbnail {
  height: 128px;
}

