.contextMenu {
  width: 150px;
  height: 240px;
  border-radius: 6px;
  background-color:#fff;

}
.contextMenu .content-top {
  /* padding: 8px 16px; */
}

.contextMenu .content-top .itemContext {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 1.71;
  cursor: pointer;
  font-family:  Open Sans, sans-serif;
}
.contextMenu .content-top .itemContext:last-child {
  border-top: 1px #f1f3f5 solid;
}
.contextMenu .content-top .itemContext:hover {
  background-color: #ecedf1;
}
.contextMenu .content-top .itemContext:last-child:hover {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* .contextMenu .content-bottom {
  border-top: 1px #f1f3f5 solid;
  padding: 8px 16px;
} */