.move-to-block {
  width: 343px;
  height: 359px;
}
.move-to-block .header {
  width: 100%;
  height: 53px;
  background-color: #202020;
  padding: 16px 16px 13px 16px;
  display: flex;
  justify-content: space-between;
  color: white;
  opacity: 0.9;

}
.move-to-block .header .header-title {
  display: flex;
}
.move-to-block .header .header-title .arrow-left {
  width: 24px;
  height: 24px;
  -webkit-mask: url('/images/icon/arrowback.png') no-repeat 50% 50%;
  background-color: #ffffff;
  -webkit-mask-size: 100%;
  margin-right: 8px;
  cursor: pointer;
}
.move-to-block .header .header-title .title {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.move-to-block .header .close-modal {
  width: 24px;
  height: 24px;
  -webkit-mask: url('/images/icon/closeimg.png') no-repeat 50% 50%;
  background-color: #ffffff;
  -webkit-mask-size: 100%;
  cursor: pointer;
}

.move-to-block .body {
  width: 100%;
  height: 232px;
  background-color: #f9fafc;
	overflow-y: scroll;
}
.move-to-block .body .folder-element {
  height: 40px;
  width: 100%;
  padding: 7px 16px 9px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  cursor: pointer;
}
.move-to-block .body .folder-element-active {
  height: 40px;
  width: 100%;
  padding: 7px 16px 9px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: #e0e0e0;
}
.move-to-block .body .folder-element .title-folder {
  display: flex;
}
.move-to-block .body .folder-element .title-folder .icon {
  width: 24px;
  height: 24px;
  -webkit-mask: url('/images/icon/folder.png') no-repeat 50% 50%;
  background-color: #646d84;
  -webkit-mask-size: 100%;
  margin-right: 8px;
}
.move-to-block .body .folder-element .title-folder .name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: #4a4a4a;
  margin-top: 2px;
}
.move-to-block .body .folder-element .arrow-right {
  width: 24px;
  height: 24px;
  -webkit-mask: url('/images/icon/chevron-right-24-px.png') no-repeat 50% 50%;
  background-color: #232731;
  -webkit-mask-size: 100%;
}
.move-to-block .footer {
  width: 100%;
  height: 74px;
  background-color: #f9fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-to-block .footer .move-btn-disable {
  width: 170px;
  height: 40px;
  padding: 12px 8px 12px 8px;
  background-color: #ecedf1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.move-to-block .footer .move-btn-disable .title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #232731;
}

.move-to-block .footer .move-btn-active {
  width: 170px;
  height: 40px;
  padding: 12px 8px 12px 8px;
  background-color: #5c9cfe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.move-to-block .footer .move-btn-active .title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: #fcfcfc;
}