.home{
    margin-left: 32px;
}
.edumall_hi{
    height: 32px;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color:#232731;
    text-align: left;
}
.intro{
    display: flex;
    align-items: center;
    margin-top: 16px;
    height: 136px;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}
.intro-text{
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 72px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.1px;
    color:#232731;
    text-align: left;
    margin-right: 77px;
}
.teach-make-lecture{
    text-align: left;
    margin-top: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color:#232731
}
.video-home{
    text-align: left;
    margin-top: 16px;
}